---
const { href } = Astro.props
---

<a href={href} target="_blank" role="link" class="inline-flex items-center text-md font-medium text-sky-500 hover:text-sky-600 dark:text-yellow-200 dark:hover:text-yellow-300">
  <slot />
</a>